body {
  font-family: "Roboto", sans-serif;
}

.masthead {
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 4rem;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  width: 10%;
  margin-left: 3%;
}

.navbar-nav {
  font-size: 1.25rem;
}
